body {
  font-family: Arial, sans-serif;
  background-color: #ea0000;
  color: #1b6700;
}

header {
  background-color: #ff984e;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff3f0a;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
}
